<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body >
    
    <header class="container">
       Barra de herramientas
   </header>
   <main>
       <aside>
           Contenido secundario
       </aside>
       <section>
           <h2>
               Sub barra de herramientas 
           </h2>
           <p>

           </p>
       </section>
   </main>
    
<style type="text/css">body, a, a:hover {cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur186.cur), progress;}</style> 

</body>
</html>