* {
    margin: 0;
}

body {

    border: 5px solid red;
    display: grid;
    grid-template-columns: 40% 60%;
    cursor: default;
}


header nav {

    border: 3px solid greenyellow;

}

header nav h2 {
    border: 4px solid blue;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

header nav ul {
    border: 3px solid yellow;
    padding: 0px;

}

header nav ul li {

    border: 3px solid cyan;
    list-style: none;
    height: 20px;
    text-decoration: double;
    text-align-last: bottom;
    padding-left: 10px;
    padding-top: 80px;
}

main {
    border:3px solid blueviolet;
}

main h2 {
    border: 3px solid blue;
    height: 100px;
    text-align: center;
    padding-top: 20px;

}

main section {
    border: 3px solid cyan;

}

main section p {
    border: 4px solid saddlebrown;
    height: 500px;
}

main section input {
    border: 4px solid green;
    justify-content: bottom;
    height: 120px;
    width: 96%;
    padding-left: 20px;
    font-size: 20px
}
.estilos{
    text-decoration: none;

}
.estilos:hover{
    text-decoration: underline;
}